<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <title>URL Redirect</title>
  <head>
    <h1>
      URL Redirection
    </h1>
  </head>
  <body>
    <header><h2>
      URL Redirect - Node.js and MongoDB</h2></header>
<p>
  Very simple application.
    </p>
    <p>Main routes are /url, /h, /q</p>

<p>/url accepts http queries and stores them in MongoDB. Returns a unique hash (using shorthash library) for each link. The hash is predictable to prevent clicking blind if desired.
    </p>
<p>/h accepts the shortened link and redirects the user to the original.
    </p>
<p>
  /q provides a query option to the user if they would like to see the URL before clicking it.

    </p>
        <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
